node_modules
.env
.env.*
!.env.example
dist
build
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock
.codex

.DS_Store
pnpm-workspace.yaml
